<ion-view title="Good Carma">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios7-gear" ng-show="authktd" ng-click="account()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-help-outline" ng-click="about()"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false" scroll="false" class="main-page">

<div class="main-container">
  <ul class="nav-controls-main">
<li class="control-button" ng-click="received()">
  <div class="circle-small">
    <i class="icon ion-alert icon-custom"></i>
        <div class="badge badge-assertive badge-custom">{{ receivedMessages }}</div>
  </div>
</li>

<li>
  <button class="circle-large" ng-click="sent()">
    <span style="font-size:80px" "style:margin-top:3px;">{{ karmaPoints }}</span>
  </button>
</li>

<li class="control-button" ng-click="createNew()">
  <div class="circle-small">
    <i class="icon ion-ios7-plus-empty icon-custom icon-custom-a"></i>
  </div>
</li>

  </ul>
</div><!-- /container -->
  </ion-content>

</ion-view>


