<ion-view title="Good Carma">
  <ion-content has-footer="true" padding="true">

<span>hi.</span>

<button class="button button-icon icon ion-ios7-paperplane" ng-click="received()"></button>

  <!-- Received Tab --
  <ion-tab title="Received" badge="3" badge-style='badge-assertive' icon-on="ion-ios7-paperplane" icon-off="ion-ios7-paperplane-outline" href="#/home/received">
    <ion-nav-view name="home-received"></ion-nav-view>
  </ion-tab>

  <!-- Sent Tab --
  <ion-tab title="Sent" icon-on="ion-ios7-compose" icon-off="ion-ios7-compose-outline" href="#/home/sent">
    <ion-nav-view name="home-sent"></ion-nav-view>
  </ion-tab>


  <!-- Send New Tab --
  <ion-tab title="Send" icon-on="ion-ios7-plus" icon-off="ion-ios7-plus-outline" ng-click="createNew()">
</ion-tab>
-->

</ion-tabs>

  </ion-content>

</ion-view>


